* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  max-width: 96vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

h1 {
  font-size: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 86%;
}

.painel {
  border: 8px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../svg/frame.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.boxPainel {
  display: flex;
  flex-direction: column;
  padding: 4%;
  justify-content: center;
  align-items: center;
}

.circlesRight {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  border: solid 5px #202020;
  background-image: url(../svg/btn.svg);
  background-size: contain;
  box-shadow: -2px 7px #827e7f;
}

.painelMemory {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(3, 33.3%);
  margin: 25px 0;
  flex: 1;
  width: 96%;
  height: 100%;
  background: black;
  padding: 5px;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 4px rgba(57, 57, 57, 1),
    0px 0px 0px 9px rgba(197, 197, 197, 1);
}

.memory {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.memoryActive {
  animation: mActive 0.3s;
}

@keyframes mActive {
  to {
    background: #44a8fe;
  }
}

.circleActive {
  border: solid 5px #202020;
  background-image: url(../svg/btnactive.svg);
  background-size: contain;
}

.playerMemory {
  display: grid;
  gap: 4%;
  grid-template-columns: repeat(3, 31.3%);
  grid-template-rows: repeat(3, 31.3%);
  margin: 25px 0;
  flex: 1;
  width: 96%;
  height: 100%;
  padding: 5px;
  border-radius: 1px;
}

.player_memory {
  background: #686868;
  box-shadow: 0px 0px 0px 4px rgb(10, 10, 10);
  border: inset 4px #505050;
  border-radius: 4px;
  cursor: not-allowed;
}

.playerMemoryActive {
  background: #c7c0c0;
  box-shadow: 0px 0px 0px 4px rgb(10, 10, 10);
  border: inset 4px #505050;
  cursor: pointer;
}

.playerMemoryError {
  animation: errorSquare 0.2s;
  animation-iteration-count: 4;
}

.playerCircleError {
  animation: errorCircle 0.2s;
  animation-iteration-count: 4;
}

.last {
  box-shadow: 0px 0px 0px 4px rgb(10, 10, 10), 2px 22px 0px -9px#575757,
    1px 18px 0px 2px #6a6a6a;
}

.teste {
  font-size: 3rem;
}

@keyframes errorCircle {
  to {
    border: solid 5px #202020;
    background-image: url(../svg/circleerror.svg);
  }
}

@keyframes errorSquare {
  to {
    background: #af0f0f;
    box-shadow: 0px 0px 0px 4px #952c01 !important;
    border: inset 4px #200200;
  }
}

@keyframes playermemoryClick {
  to {
    background: #289cbf;
    box-shadow: 0px 0px 0px 4px #133e71;
    border: inset 4px #03182e;
  }
}
